<form method="GET">
    <label>
        <input name="email" placeholder="Your Email Address">
    </label>
    <br>
    <label>
        <textarea name="msg" placeholder="Your Message"></textarea>
    </label>
    <br>
    <input type="submit">
</form>